* {
  background: #3CA8D7;
  primary: #75DFF0;
  secondary: #0000E8;
  tertiary: #FFD33B;
  quaternary: #C51F4A;
  foreground: #092A5B;
  border: #051D43;

  background-color: transparent;
  text-color: @foreground;
}

window {
  width: 560px;
  border: 2px;
  border-color: @border;
  border-radius: 16px;
  background-color: @background;
}

mainbox {
  padding: 15px;
  spacing: 12px;
  background-color: transparent;
  children: [ "inputbar", "message", "listview" ];
}

inputbar {
  padding: 8px 10px;
  spacing: 8px;
  border: 2px;
  border-color: @border;
  border-radius: 8px;
  background-color: @primary;
  children: [ "prompt", "entry" ];
}

prompt {
  padding: 0 6px 0 0;
  text-color: @border;
}

entry {
  placeholder: "Search";
  placeholder-color: @border;
  text-color: @foreground;
}

message {
  padding: 8px 10px;
  border: 2px;
  border-color: @border;
  border-radius: 8px;
  background-color: @primary;
}

textbox {
  text-color: @border;
}

listview {
  lines: 8;
  columns: 1;
  spacing: 6px;
  fixed-height: false;
  background-color: transparent;
}

element {
  padding: 8px 10px;
  spacing: 10px;
  border: 2px;
  border-color: transparent;
  border-radius: 8px;
  background-color: transparent;
}

element normal.normal {
  text-color: @foreground;
}

element alternate.normal {
  background-color: @tertiary;
  text-color: @border;
}

element selected.normal,
element selected.active {
  border-color: @border;
  background-color: @secondary;
  text-color: @primary;
}

element selected.urgent {
  border-color: @border;
  background-color: @quaternary;
  text-color: @primary;
}

element-icon {
  size: 22px;
}

element-text {
  vertical-align: 0.5;
}

scrollbar {
  width: 7px;
  border: 0;
  handle-color: @border;
  background-color: @primary;
}
